.fa.fa-circle-thin {
  font-size:35px;
}

.fa.fa-bell-o {
  font-size:25px;
}

.navbar.navbar-light.navbar-expand-md.sticky-top {
  box-shadow:0px 1px #efefef;
}

.col {
  background-color:white;
  box-shadow:2px 0px #efefef;
}

.fa.fa-th-large {
  font-size:23px;
}

.fa.fa-search {
  font-size:23px;
}

.fa.fa-shopping-cart {
  font-size:23px;
  /*color:grey;*/
}

.h1, h1 {
  font-size:23px;
}

body {
  background-color:#fcfcfc;
}

.navbar.navbar-light.navbar-expand-md.sticky-top {
  background-color:white;
}

.Bulk {
  background-color:#f9fbfb;
}

.product img {
  border-radius:100px;
}

.fa.fa-linkedin {
  font-size:32px;
}

.fa.fa-twitter {
  font-size:32px;
}

.fa.fa-instagram {
  font-size:32px;
}

.fa.fa-facebook {
  font-size:32px;
}

.parent:hover div :hover {
  /*opacity:1;*/
  /*box-shadow:0 1px 2px #334;*/
}

.parent:hover div {
  /*opacity:0.6;*/
  background-color:rgba(255,255,255,0.8);
}

.parent:hover .product:hover {
  opacity:1;
  box-shadow:0px 1px 21px rgb(244,245,245), -10px 1px 21px rgb(244,245,245), 10px 1px 21px rgb(244,245,245);
  background-color:rgba(255,255,255,1);
}

.Buttons {
  border-color:white;
  border:0px;
}

a.active {
  border-right:green 2px;
  outline:3px solid rgb(133,237,133);
  border-radius:0px;
}
.fa-search:hover{
  color:green !important;
}
.fa-shopping-cart:hover{
  color:green !important;
}
.fa-th-large:hover{
  color:green !important;
}
.fa-facebook:hover{
  color:blue;
}
.fa-instagram:hover{
  color:red;
}
.fa-twitter:hover{
  color:blue;
}
.fa-linkedin:hover{
  color:blue;
}

a:focus .fa-th-large {
  border-right:3px solid green;
  color:green !important;
}
.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
}
